<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        <h2 align="right">基于Web的高校成果管理系统</h2>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown hidden-xs">
            <a class="right-sidebar-toggle" aria-expanded="false">
                <i class="fa fa-tasks"></i> 主题
            </a>
        </li>
    </ul>
</nav>
